<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Statisticals</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/dist/css/adminlte.min.css">
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body class="light-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">
    <div class="wrapper">
        <%- include('nav') %>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>Add Bonus</h1>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">
                    


                        <!-- finance -->
                        <div class="row info-box">
                            <div class="form-group" style="width: 100%;">
                                <div class="text-center">
                                    <label for="phone">Finance manager</label>
                                </div>
                              
                                <input type="text" class="form-control" id="phone4" placeholder="Enter member account" value=""><br>
                              
                                <select class="form-select mb-4" id="finance" style="width: 100%;padding: 5px;">
                                    <option selected value="">-------- select function --------</option>
                                    <option value="1">Finance Manager</option>
                                    <option value="2">Deposit Manager</option>
                                    <option value="3">Withdrawal Manager</option>
                                </select>
                    
                                <button type="submit" class="btn btn-primary financed" style="width: 100%;">Submit</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </section>
                <!-- /.content -->
                

                <a id="back-to-top" href="#" class="btn btn-primary back-to-top" role="button" aria-label="Scroll to top">
                    <i class="fas fa-chevron-up"></i>
                </a>
            </div>
    </div>
    <script src="/plugins/jquery/jquery.min.js"></script>
    <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/dist/js/adminlte.min.js"></script>
    <script src="/js/admin/admin.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <script>
        $.ajax({
            type: "GET",
            url: "/api/webapi/admin/wallet",
            data: {

            },
            dataType: "json",
            success: function (response) {
                let usersWallet = (response.usersWallet) ? response.usersWallet : 0;
                let pRecharge = (response.pRecharge) ? response.pRecharge : 0;
                let pWithdrawal = (response.pWithdrawal) ? response.pWithdrawal : 0;
                let recharges = (response.recharges) ? response.recharges : 0;
                let withdraws = (response.withdraws) ? response.withdraws : 0;
                let rechargeToday = (response.rechargeToday) ? response.rechargeToday : 0;
                let withdrawToday = (response.withdrawToday) ? response.withdrawToday : 0;
                let totalUser = (response.totalUser) ? response.totalUser : 0;
                let todayUser = (response.todayUser) ? response.todayUser : 0;
                
                 $('.clientWallet').text(usersWallet);
              
                $('.precharge').text((pRecharge));
                $('.pwithdraw').text((pWithdrawal));
              
                $('.totalRecharge').text((recharges));
                $('.totalwithdraw').text((withdraws));
                $('.totalRechargeToday').text((rechargeToday));
                $('.totalwithdrawToday').text((withdrawToday));
                $('.todayusers').text((todayUser));
                $('.totalusers').text((totalUser));
                $('.uplinedata').text((Number(recharges)- Number(usersWallet)));
                           
            }
        });

      

        $('.buff-three').click(function (e) { 
            e.preventDefault();
            let select = $('#buff-three').val();
            let money = $('#money-buff-three').val();
            let phone = $('#phone2').val();
            console.log(select);
            console.log(money);
            console.log(phone);
            if (select && money) {
                $.ajax({
                    type: "POST",
                    url: "/admin/manager/createBonus",
                    data: {
                        select: select,
                        type: 'three',
                        money: money,
                        phone: phone,
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response.status == true) {
                            Swal.fire({
                                icon: 'success',
                                title: `${response.message}`,
                            })
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: `${response.message}`,
                            })
                        }
                    }
                });
            } else {
                alert('Please enter complete information');
            }
        });

        $('.financed').click(function (e) { 
            e.preventDefault();
            let finance = $('#finance').val();
            let phone4 = $('#phone4').val();
           
            if (finance && phone4) {
                $.ajax({
                    type: "POST",
                    url: "/admin/manager/finance",
                    data: {
                        select: finance,
                        phone: phone4,
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response.status == true) {
                            Swal.fire({
                                icon: 'success',
                                title: `${response.message}`,
                            })
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: `${response.message}`,
                            })
                        }
                    }
                });
            } else {
                alert('Please enter complete information');
            }
        });
     
    </script>
</body>

</html>