 <div data-v-6ab3f23e="" class="tabbar__container" style="--f13b4d11-currentFontFamily: 'Roboto', 'Inter', sans-serif">
   <div onclick="location.href = '/home'" data-v-6ab3f23e="" class="tabbar__container-item home_tab_btn">

     <img src="/assets/icon_home.png" alt="" class="nav-img">

     <span data-v-6ab3f23e="">Home</span>
   </div>
   <div onclick="location.href = '/activity'" data-v-6ab3f23e="" class="tabbar__container-item activity_tab_btn">
     <img src="/assets/icon_activity.png" alt="" class="nav-img">
     <span data-v-6ab3f23e="">Activity</span>
   </div>
   <div onclick="location.href = '/promotion'" data-v-6ab3f23e="" class="tabbar__container-item">

     <div data-v-6ab3f23e="" class="promotionBg">
       <img src="/assets/icon_promotion.jpg" alt="">
     </div>
     <span data-v-6ab3f23e="">Promotion</span>
   </div>
   <div onclick="location.href = '/wallet'" data-v-6ab3f23e="" class="tabbar__container-item wallet_tab_btn">
     <img src="/assets/icon_wallet.png" alt="" class="nav-img">
     <span data-v-6ab3f23e="">Wallet</span>
   </div>
   <div onclick="location.href = '/mian'" data-v-6ab3f23e="" class="tabbar__container-item account_tab_btn">
     <img src="/assets/icon_account.png" alt="" class="nav-img">
     <span data-v-6ab3f23e="">Account</span>
   </div>
 </div>

 <script>
   const TAB_LINK_MAP = {
     HOME: "/home",
     Activity: "/activity",
     wallet: "/wallet",
     Account: "/mian",
   };

   const initTabLinkHandler = () => {
     document.querySelector(".tabbar__container-item").classList.remove("active");
     switch (window.location.pathname) {
       case TAB_LINK_MAP.HOME:
         document.querySelector(".home_tab_btn").classList.add("active");
         break;
       case TAB_LINK_MAP.Activity:
         document.querySelector(".activity_tab_btn").classList.add("active");
         break;
       case TAB_LINK_MAP.wallet:
         document.querySelector(".wallet_tab_btn").classList.add("active");
         break;
       case TAB_LINK_MAP.Account:
         document.querySelector(".account_tab_btn").classList.add("active");
         break;
       default:
         document.querySelector(".tabbar__container-item").classList.remove("active");
         break;
     }
   };

   initTabLinkHandler();
 </script>

 <style>
   .tabbar__container[data-v-48aa04ea] {
     position: fixed;
     bottom: 0;
     left: 50%;
     display: -webkit-box;
     display: -webkit-flex;
     display: flex;
     -webkit-box-align: end;
     -webkit-align-items: flex-end;
     align-items: flex-end;
     width: 10rem;
     -webkit-transform: translateX(-50%);
     transform: translate(-50%);
     height: 1.73333rem;
     padding-block: 0 0.13333rem;
     font-size: 0.29333rem;
     background: url(/assets/png/tabBarBg-0d05851f.png) no-repeat center center/cover;
     z-index: 100;
   }

   .tabbar__container-item[data-v-48aa04ea] {
     -webkit-box-flex: 1;
     -webkit-flex: 1;
     flex: 1;
     display: -webkit-box;
     display: -webkit-flex;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -webkit-flex-direction: column;
     flex-direction: column;
     -webkit-box-align: center;
     -webkit-align-items: center;
     align-items: center;
     -webkit-box-pack: end;
     -webkit-justify-content: flex-end;
     justify-content: flex-end;
     gap: 0.11707rem;
     color: #1717177a;
   }

   .tabbar__container-item .tab_icon[data-v-48aa04ea] {
     width: 0.66667rem;
     height: 0.66667rem;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
   }

   .tabbar__container-item[data-v-48aa04ea]:nth-of-type(3) {
     position: relative;
   }

   .tabbar__container-item[data-v-48aa04ea]:nth-of-type(3) svg {
     position: relative;
     top: -0.4rem;
     width: 0.7504rem;
     height: 0.65rem;
     z-index: 3;
   }

   .tabbar__container-item:nth-of-type(3) .tab_icon[data-v-48aa04ea] {
     position: absolute;
     bottom: 60%;
     left: 50%;
     width: 0.69333rem;
     -webkit-transform: translate(-50%, -92%);
     transform: translate(-50%, -92%);
     height: 0.69333rem;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     z-index: 33;
   }

   .tabbar__container-item:nth-of-type(3) .promotionBg[data-v-48aa04ea] {
     position: absolute;
     left: 50%;
     bottom: 0.53333rem;
     -webkit-transform: translate(-50%, 0);
     transform: translate(-50%);
     background: #fff;
     width: 1.46667rem;
     height: 1.46667rem;
     border-radius: 50%;
     box-shadow: 0 -0.08rem 0.16rem #d0d0ed80;
     z-index: 2;
   }

   .tabbar__container-item:nth-of-type(3) .promotionBg[data-v-48aa04ea]:after {
     content: "";
     position: absolute;
     left: 50%;
     top: 50%;
     width: 1.36rem;
     height: 1.36rem;
     border-radius: 50%;
     -webkit-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     background: -webkit-linear-gradient(top, #f2d5b2 0%, #d9b38c 100%);
     background: linear-gradient(180deg, #f2d5b2 0%, #d9b38c 100%);
   }

   .tabbar__container-item svg[data-v-48aa04ea] {
     display: block;
     width: 0.5776rem;
     height: 0.59387rem;
   }

   .tabbar__container-item.active[data-v-48aa04ea] {
     color: #171717;
   }

   .tabbar__container-item[data-v-48aa04ea] .tab_icon {
     filter: grayscale(1) saturate(50);
   }

   .tabbar__container-item.active[data-v-48aa04ea] .tab_icon {
     filter: grayscale(0);
   }

   @media screen and (max-width: 500px) {
     .tabbar__container[data-v-48aa04ea] {
       width: 100%;
       left: 0;
       -webkit-transform: translateX(0);
       transform: translate(0);
     }

     html:lang(ar) .tabbar__container[data-v-48aa04ea] {
       left: unset;
       right: 0;
     }
   }
 </style>